@import '../Common/css/mixin.less';
.home-page {
    .flex-layout(column);
}

.home-header {
    .flex-layout(column, space-between);
    width: 100%;
    height: 225px;
    background-image: url(../Common/images/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 35px 15px 0 15px;
    .location {
        .flex-layout(row, center, center);
        &__icon {
            width: 13px;
            // height: 13px;
            margin: 0 10px 0 5px;
        }
        &__drop-icon {
            width: 10px;
            height: 7px;
        }
        text {
            font-size: 16px;
            font-family: PingFangSC-Semibold,PingFang SC;
            font-weight: 600;
            color:rgba(255,255,255,1);
            line-height: 22px;
        }
    }
    .today-weather {
        .flex-layout(column);
        position: relative;
        &__content {
            .flex-layout(row);
            margin-bottom: 15px;
        }
        .weather__temp {
            font-size: 90px;
            line-height: 104px;
            color: #fff;
            font-family: DINAlternate-Bold,DINAlternate;
            font-weight: bold;       
        }
        .weather__info {
            align-self: flex-end;
            margin-bottom: 15px;
            .flex-layout(row, flex-start, center);
            text {
                color: #fff;
                font-size: 14px;
                font-family: PingFangSC-Regular,PingFang SC;
                font-weight: 400;
                line-height: 22px;
            }
            .line {
                width: 1px;
                height: 10px;
                background-color: #fff;
                margin: 0 10px;
            }
            &__text{
                .flex-layout(row, flex-start, center);
            }
            image {
                width: 15px;
                height: 16px;
                margin-left: 6px;
            }
        }
        .weather-yujing {
            position: absolute;
            bottom: 5px;
            &__content {
                width: 82px;
                height: 26px;
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 2px;
                .flex-layout(row, center, center);
                image {
                    width: 12px;
                    height: 13px;
                    margin-right: 7px;
                }
                text {
                    font-size: 12px;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color: #FFFFFF;
                    line-height: 17px;
                }
            }
        }
    }
}
.home-content {
    .flex-layout(column);
    position: relative;
}
.weather {
    .flex-layout(column);
    padding: 0 15px;
    &__limit {
        height: 48px;
        .flex-layout(row, flex-start, center);
        .line {
            width: 1px;
            height: 10px;
            background: #EAEAEA;
            margin: 0 10px;
        }
        text {
            font-size: 16px;
            font-family: PingFangSC-Regular,PingFang SC;
            font-weight: 400;
            color:#000;
            line-height: 22px;
        }
        &__text {
            margin-right: 8px;
        }
        &__num {
            width: 22px;
            height: 22px;
            background-color: #FFE6E6;
            border-radius: 2px;
            .flex-layout(row, center, center);
            margin-right: 4px;
            text {
                color: #BD0505;
            }
        }
    }
}
// 今日热点
.daily-hot {
    height: 90px;
    background-color: #F6F9FF;
    padding: 0 15px;
    .flex-layout(row, flex-start, center);
    &__content {
        width: 100%;
        height: 60px;
        background-color: #FFFFFF;
        box-shadow: 0px 1px 5px 0px rgba(191, 213, 255, 0.34);
        border-radius: 2px;
        border: 1px solid #F7F7F7;
        .flex-layout(row, flex-start, center);
        padding: 0 15px;
        image {
            width: 32px;
            height: 32px;
        }
        .line {
            width: 1px;
            height: 32px;
            background-color: #E1EAFF;
            margin: 0 15px;
        }
        &__info {
            .flex-layout(column);
            flex: 1;
            text {
                color: #3C3C3C;
                font-size: 13px;
                font-family: PingFangSC-Regular,PingFang SC;
                font-weight: 400;
                line-height: 18px;
                lines: 1;
                text-overflow: ellipsis;
            }
        }
    }
}

.weather-forecast {
    margin-top: 24px;
    padding-left: 15px;
    .flex-layout(column);
    &__title {
        text {
            color: #333333;
            font-size: 16px;
            font-weight:600;
            line-height:22px;
        }
    }
    &__list {
        .flex-layout(row);
        height: 120px;
        margin-top: 24px;
        &__item {
            width: 56px;
            border-left: 1px solid #EAEAEA;
            .flex-layout(column, flex-start, center);
            text {
                font-family: PingFangSC-Regular,PingFang SC;
                font-weight: 400;
            }
            .week, .weather-text {
                font-size: 14px;
                line-height: 20px;
                color: #000000;
            }
            .week-day {
                font-size: 12px;
                line-height: 17px;
                color: #757575;
            }
            .weather-text {
                margin: 10px 0;
            }
            .max-temp, .min-temp {
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
            }
            .max-temp {
                color: #BD0505;
            }
            .min-temp {
                color: #659BFE;
            }
        }
    }
}

.living-index {
    .flex-layout(column);
    margin-top: 30px;
    &__title {
        padding-left: 15px;
        text {
            font-size: 16px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #333333;
            line-height: 22px;
        }
    }
    &__list {
        .flex-layout(row, space-between);
        columns: 3;
        height: 314px;
        padding: 0 30px;
        width: 100%;
        margin-bottom: 30px;
        &__item {
            .flex-layout(column, flex-start, center);
            margin-top: 20px;
            margin-right: 80px;
            image {
                width: 43.2px;
                height: 43.2px;
            }
            &__temp {
                font-size: 16px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #000000;
                line-height: 22px;
            }
            &__text {
                font-size: 13px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #959798;
                line-height: 18px;
            }
        }
    }
}

.ad-wrap {
    padding: 0 15px;
    .ad {
        width: 100%;
        height: 87px;
        background-color: #eee;
    }
}

.weather-times {
    .flex-layout(column);
    margin-top: 30px;
    padding-left: 15px;
    margin-bottom: 24px;
    &__title {
        text {
            font-size: 16px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #333333;
            line-height: 22px;
        }
    }
}